name: build and push images
on:
  push:
    branches: ['master']
  schedule:
    - cron: 5 8 * * 0
jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - { postgres: 12, alpine: '3.12', psql-package: 'postgresql-client' }
          - { postgres: 13, alpine: '3.19', psql-package: 'postgresql13-client' }
          - { postgres: 14, alpine: '3.20', psql-package: 'postgresql14-client' }
          - { postgres: 15, alpine: '3.22', psql-package: 'postgresql15-client' }
          - { postgres: 16, alpine: '3.22', psql-package: 'postgresql16-client' }
          - { postgres: 17, alpine: '3.22', psql-package: 'postgresql17-client' }

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:${{ matrix.postgres }}
          build-args: |
            ALPINE_VERSION=${{ matrix.alpine }}
            POSTGRESQL_PACKAGE=${{ matrix.psql-package }}
          platforms: |
            linux/amd64
            linux/arm64
